@import "~bootstrap/scss/bootstrap.scss";


span{
    font-size: 50px;
}
li{
     list-style:none
}
h1{
    color: #d2b9be;
}
.container{
    width: 50%;
    background-color: #e0d6d8;
    height: auto;
}/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
